<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: header">

<!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
        </th:block> /*/-->

<title>Iniciar Sesión</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
	
	

	
	<nav th:insert="fragments/general.html :: nav"> </nav>
<!--
	<div class="container">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<form th:action="@{/users}" method="post" th:object="${detalle}">
				<div class="form-group">
					<input type="text" th:field="*{clave}" class="form-control"
						id="clave" aria-describedby="claveHelp"
						placeholder="Ingresa nombre de la clave"> <small
						id="inClave" class="form-text text-muted">Nombre de la
						clave que se almacenará en sesión.</small>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{valor}" class="form-control"
						id="valor" aria-describedby="valorHelp"
						placeholder="Ingresa el contenido"> 
						<small id="inValor" class="form-text text-muted">Contenido de la clave que se almacenará en sesión.</small>
				</div>
				<button type="submit" class="btn btn-primary">Agregar</button>
			</form>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">clave</th>
						<th scope="col">valor</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="detalle: ${valores}">
						<td th:text="${detalle.clave}" />
						<td th:text="${detalle.valor}" />
					</tr>
				</tbody>
			</table> 
		</div>
	</div>-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  
</body>
</html>